/* Generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.backgrounds {
  width: 100%;
  height: 200px;
}

.backgrounds img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

button {
  appearance: none;
  border: none;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  padding: 0px 16px;
  align-items: center;
}

header ul li {
  padding: 0px 4px;
  list-style-type: none;
  font-size: 12px;
  font-weight: bold;
  height: 80px;
  display: flex;
  align-items: center;
}

header ul li a {
  display: inline-block;
  padding: 30px 4px;
  /* text-decoration: none;
  color: black;
  transition: all 0.3s; */
}

header ul li a:hover {
  color: blue;
  border-bottom: 3px solid blue;
}


header .active {
  color: blue;
  border-bottom: 3px solid blue;
}

header img {
  width: 64px;
  height: 64px;
  margin: 8px 16px;
}

header figure {
  display: flex;
  align-items: center;
}

header a {
  color: black;
  text-decoration: none;
}

/* Main */

main {
  background-color: black;
}

#serie-title {
  background-color: blue;
  color: white;
  padding: 4px 16px;
  width: fit-content;
  /* position: absolute; */
  translate: 0 -50%;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 40px
}

.serie-card {
  flex-basis: calc((100%-80px) / 6);
  display: flex;
  flex-direction: column;
  max-width: 185px;
}

.serie-card img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top center;
  margin-bottom: 8px;
}

.serie-card h3 {
  color: white;
  font-size: 12px;
  font-weight: 400;
}

#main-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.primary-button {
  align-self: center;
  background-color: blue;
  width: 200px;
  padding: 8px;
  color: white;
  font-weight: bold;
}


/* Links */

.links {
  background-color: blue;
}



/* Footer */

footer {
  background-image: url('src/assets/img/footer-bg.jpg');
}