/* Generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.backgrounds {
  width: 100%;
  height: 200px;
}

.backgrounds img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

button {
  appearance: none;
  border: none;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  padding: 0px 16px;
  align-items: center;
}

header ul li {
  padding: 0px 4px;
  list-style-type: none;
  font-size: 12px;
  font-weight: bold;
  height: 80px;
  display: flex;
  align-items: center;
}

header ul li a {
  display: inline-block;
  padding: 30px 4px;
  /* text-decoration: none;
  color: black;
  transition: all 0.3s; */
}

header ul li a:hover {
  color: blue;
  border-bottom: 3px solid blue;
}


header .active {
  color: blue;
  border-bottom: 3px solid blue;
}

header img {
  width: 64px;
  height: 64px;
  margin: 8px 16px;
}

header figure {
  display: flex;
  align-items: center;
}

header a {
  color: black;
  text-decoration: none;
}

/* Main */

main {
  background-color: black;
}

#serie-title {
  background-color: blue;
  color: white;
  padding: 4px 16px;
  width: fit-content;
  /* position: absolute; */
  translate: 0 -50%;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 40px
}

.serie-card {
  flex-basis: calc((100%-80px) / 6);
  display: flex;
  flex-direction: column;
  max-width: 185px;
}

.serie-card img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top center;
  margin-bottom: 8px;
}

.serie-card h3 {
  color: white;
  font-size: 12px;
  font-weight: 400;
}

#main-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.primary-button {
  align-self: center;
  background-color: blue;
  width: 200px;
  padding: 8px;
  color: white;
  font-weight: bold;
}


/* Links */

.links {
  background-color: blue;
  height: 120px;
  display: flex;
  align-items: center;
}

.secondary-button {
  font-size: 12px;
  color: white;
  background-color: transparent;
  margin: 16px;

  display: flex;
  align-items: center;
  gap: 8px;
}

.secondary-button img {
  height: 40px;
}

.list-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 16px;
}



/* Footer */
#prefooter {
  background-image: url('src/assets/img/footer-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.prefooter-link-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 40px;
  padding: 24px 0px;
  height: 350px
}

.prefooter-link-container h4 {
  color: white;
  padding-bottom: 8px;
}

.prefooter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 350px;
  overflow: hidden;
}

.link-section {
  margin-bottom: 16px;
}

.button-link {
  list-style-type: none;
}

.button-link a {
  color: lightgray;
  text-decoration: none;
  font-size: 10px;
}


#footer {
  background-color: #303030;
  height: 100px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.outline-button {
  color: white;
  border: 2px solid #3770E3;
  background-color: transparent;
  padding: 8px 16px;
}

.text-button {
  color: #3770E3;
  background-color: transparent;
  font-size: large;
  font-weight: bold;
  margin: 0px 24px;
}

.social {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon-button {
  background: transparent;
}